body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    border: 1px solid #ced4da;
    box-shadow: 0 0 10px 4px #ced4da;
    padding: 1em;
}
