html, body, h1, h2, p, input, button, div, header, footer, form {
    font-family: "montserrat", "Open Sans", "Droid Sans", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.75em;
    line-height: 2em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.75em;
}

a, p, span, label, input, button {
    font-size: 1em;
    line-height: 1.25em;
}

a, a:visited {
    color: #0d6efd;
    text-decoration: underline;
}

label {
    font-weight: 700;
}

html, body {
    background: #fff;
    color: #212529;
    min-height: 100vh;
    width: 100%;
}

button {
    border: unset;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0 0.25em;
    transition: box-shadow 0.15s ease-in-out;
}

button:active {
    box-shadow: 0 0 4px 1px #000;
    outline: unset;
    position: relative;
    z-index: 1;
}

.dark {
    background: #343a40;
    color: #fff;
}

.primary {
    background: #0d6efd;
    color: #fff;
}

.danger {
    background: #dc3545;
    color: #fff;
}

.success {
    background: #198754;
    color: #fff;
}

footer {
    margin: 1em 0 0;
    text-align: center;
}

form div.input-group {
    margin: 0 auto 1em;
}

form div.input-group label {
    display: block;
}

form div.input-group input {
    background: inherit;
    border: 1px solid #ced4da;
    display: block;
    line-height: 1.5em;
    margin: 0.5em 0 0;
    padding: 0 0.25em;
    transition: box-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

form div.input-group input:focus, form div.input-group input:focus-visible {
    border: 1px solid #0d6efd;
    box-shadow: 0 0 5px 2px #0d6efd;
    outline: unset;
}

div.container {
    align-items: center;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/montserrat/regular.woff2') format('woff2'),
    url('/fonts/montserrat/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat';
    src: url('/fonts/montserrat/bold.woff2') format('woff2'),
    url('/fonts/montserrat/bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
